<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>绑定成功提醒</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" href="http://qiniu.tongkeapp.com/bindSuccessRemind.css?time=20201224">
		 <!-- <link rel="stylesheet" href="http://192.168.0.105:8099/styles/bindSuccessRemind.css?time=20201224"> -->
    </head>
    <body>
		<div id='container'>
			<div class='container-a'>
				<div class='c-title'>
					绑定<span style='color:#11B764'>成功</span>
				</div>
				<div class='remind'>
					再次扫立牌二维码，将会体验到不同的结果哦。
				</div>
			</div>
			
		</div>
    </body>
</html>