<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>添加商户</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" href="http://qiniu.tongkeapp.com/business.css?time=20201202">
    </head>
    <body>
		<div class='business'>
			<div class='remind'>团队每一位成员招募商户成员限额30名，因此在添加商户之前请考核商户质量；</div>
			<div id='message'></div>
			<input type="text" maxlength="30" class='isbusiness' placeholder="商户ID" name='businessID' onkeyup="this.value=this.value.replace(/[, ]/g,'')">
			<input type="text" maxlength="30" class='ismember' placeholder="成员ID" name='memberID' onkeyup="this.value=this.value.replace(/[, ]/g,'')">
			<div class='commit'>添加</div>
		</div>
		<div id='mask' style="display: none;">商户添加成功</div>
    </body>
	<script src='http://qiniu.tongkeapp.com/jquery.min.js'></script>
	<script src='http://qiniu.tongkeapp.com/business.js?time=20201202'></script>
	<!-- <script src='http://192.168.0.105:8099/scripts/business.js?time=20201202'></script> -->
</html>