<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title><%= title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="http://qiniu.tongkeapp.com/getAgentPage.css?time=20201126">
		<script src='http://qiniu.tongkeapp.com/PreventAttacks.js?time=20201126'></script>	
    </head>
    <body>
		<div class="get-agent-page">
			<div class='poster-wraper'>
				<!-- 遍历海报 -->
				<% Img.forEach(function(item){ %>
					<img class='poster-item' src="<%= item%>">
				<%})%>
			</div>
			<div class='button-wraper'>
				<div class='tk-vips'>
					<div class='buy-tk-protocol'>
						<div class='buy-agree' style="background-color:<%= color%>">√</div>
						<div class='buy-agree-title'>限时限名额招募</div>
						<!-- <div class='buy-agree-title' style="color:<%= color%>">12-22-33</div> -->
					</div>
					<div class='tk-vips-items' style="background-color:<%= color%>" data-agentid = "<%= agentID%>" data-productsid="<%= productsId%>">
						限时免费代理
					</div>
				</div>
			</div>
		</div>
    </body>
    <script src='http://qiniu.tongkeapp.com/jquery.min.js'></script>
    <script src='http://qiniu.tongkeapp.com/getAgent.js?time=20201126'></script>
</html>