<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title><%= title%></title>
        <link rel="shortcut icon" href="http://qiniu.tongkeapp.com/tkImgLogo.png">
        <link rel="bookmark" href="http://qiniu.tongkeapp.com/tkImgLogo.png">
        <link rel="icon" href="http://qiniu.tongkeapp.com/tkImgLogo.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" href="http://qiniu.tongkeapp.com/tkImgLogo.png">
        <meta name="apple-mobile-web-app-title" content="代理">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <link rel="stylesheet" href="http://192.168.0.105:8099/styles/payPage_line.css">
    </head>
    <body>
		<div class='address-pay'>
			<div class='address-h'>
				<div class='h-wrapper'>
					<img class='h-avatar' src="http://qiniu.tongkeapp.com/lekubaba.jpeg" alt="img">
					<div class='h-name-star'>
						<span class='h-name'>由好友 杨锦旋 为您推荐！</span>
						<div class='h-star'>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
							<span>&#9733;</span>
						</div>
					</div>
				</div>
			</div>
			<!-- footer部分 -->
			<div class='address-f'>
				<div class='f-wrapper'>
					<div class='f-content'>
						<img class='f-products-img' src="http://qiniu.tongkeapp.com/tkImgLogo.png" alt="商品">
						<div class='f-products-text'>
							<div class='f-products-title'>统客分销一年服务...</div>
							<div class='f-products-money'>
								<span class='f-span'>原价：</span>
								<span class='original-price'>¥39999</span>
								<span class='f-span'>，活动价：</span>
								<span class='activity-price'>¥6999</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='c-submit' style="background-color:<%= color%>">确认并支付</div>
		</div>
    </body>
    <script src='http://192.168.0.105:8099/scripts/jquery.min.js'></script>
    <script src='http://192.168.0.105:8099/scripts/distpicker.min.js'></script>
    <script src='http://192.168.0.105:8099/scripts/payPage_line.js'></script>
</html>