<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>绑定推广码</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" href="http://qiniu.tongkeapp.com/whitePage.css?time=20201224">
		 <!-- <link rel="stylesheet" href="http://192.168.0.105:8099/styles/whitePage.css?time=20201224"> -->
    </head>
    <body>
		<div id='container' style="display: none;">
			<div class='container-a'>
				<div class='c-title'>
					绑定<span style='color:#11B764'>异常</span>
				</div>
				<div class='c-title-sub'>
					<span style='color:#FF654D'>可能是如下原因导致没有到绑定界面！！</span>
				</div>
				<div class='remind'>
					1.一个人默认只能绑定五个推广立牌二维码，如需要更多的绑定，需要联系城市运营者申请配额。
				</div>
				<div class='remind'>
					2.只有先成为代理以后才能绑定推广立牌二维码。
				</div>
			</div>
			
		</div>
    </body>
	<script src='http://qiniu.tongkeapp.com/jquery.min.js'></script>
	<!-- <script src='http://qiniu.tongkeapp.com/whitePage.js?time=20201224'></script> -->
	<script src='http://192.168.0.101:8099/scripts/whitePage.js?time=20201224'></script>
</html>